.App {
  text-align: center;
  background: url('https://wallpapercave.com/wp/wp1809910.png');
  background-size: cover;
  height: 100vh;
}

.input-box {
  padding-top: 20%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 'sans-serif';
  font-size: 1.3em;
}

.input-box input {
  font-family: 'Lucida Sans';
  font-size: 1.2em;
}